#google-carousel-container{
    height: auto;
    padding: 0;
}


#google-carousel {
   margin: auto;    
    display: block;
    max-width: 400px;

}

#google-carousel-inner img{

}

#google-text{
    padding-left: 50px;
    padding-right: 50px;

}

iframe {
    width: 100%;
}